:3000 {
    redir /wishlist https://docs.google.com/document/d/1FrCw1a126xnkOn7OUoBISRwXkR4xBexSnAh3TIiM4v0 temporary

    root * /srv
    try_files {path} {path}.html /index.html
    file_server
    encode gzip
}
